.edit {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.edit form {
    gap: 20px;
}

.edit-image-upload img {
    width: 120px;
    cursor: pointer;
    /* height: 150px; */
}

.edit-product-name,
.edit-product-description {
    width: max(40%, 280px);
}

.edit-product-name input,
.edit-product-description textarea {
    padding: 10px;
}

.edit-category-price {
    display: flex;
    gap: 30px;
}

.edit-category-price select,
.edit-category-price input {
    padding: 10px;
    max-width: 120px;
}

.edit-button {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;

    margin-bottom: 50px;
}

.edit-button:disabled {
    background-color: rgba(10, 10, 10, 0.703);
    cursor: not-allowed;
}

.edit-food {
    cursor: pointer;
}