.add-settings-page {
    width: 40%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
    flex-direction: column;
}

.add-settings-page form {
    gap: 20px;
}

.add-settings-page .add-image-upload img {
    width: 120px;
    cursor: pointer;
}

.add-settings-page input[type='email'] {
    cursor: not-allowed;
}

.add-settings-page .name,
.add-settings-page .email,
.add-settings-page .new-password,
.add-settings-page .confirm-new-password,
.add-settings-page .current-password {
    width: 80%;
}

.add-settings-page .name input,
.add-settings-page .email input,
.add-settings-page .new-password input,
.add-settings-page .confirm-new-password input,
.add-settings-page .current-password input {
    padding: 10px;
    width: 100%;
}

/* .add-settings-page .update-profile-button-container,
.add-settings-page .change-password-button-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
} */

.add-settings-page .add-button {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.add-settings-page .change-password-button {
    max-width: 240px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

button:disabled {
    background-color: rgba(10, 10, 10, 0.703);
    cursor: not-allowed;
}

.add-settings-page h2 {
    margin-top: 20px;
}