.users-list {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.users-list form {
    gap: 20px;
}

.users-list .list-table-format {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 2fr 1.5fr 1.5fr;
    text-align: left;
    /* align-items: center; */
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.users-list .add-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #f9f9f9;
    border: 2px solid #cacaca;
    padding: 10px 15px;
    border-radius: 5px;
}

.users-list .user-name {
    cursor: pointer;
}

.users-list .list-table-format p {
    text-align: left;
}

.users-list .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}


.users-list p.edit-category {
    cursor: pointer;
}

.users-list .add-user:hover {
    background-color: #f0f0f0;
}

.users-list .add-user img {
    width: 20px;
    margin-right: 5px;
}

.users-list .list-table-format.title {
    background-color: #f9f9f9;
    font-weight: bold;
}

.users-list .list-table-format img {
    width: 50px;
}

.users-list div.action {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.users-list div.delete-category,
.users-list div.edit-category {
    color: #525252;
    border: 0;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.users-list div.delete-category:hover {
    color: #d11515;
}

.users-list div.edit-category:hover {
    color: #74c0fc;
}

.users-list .no-data {
    text-align: center;
    padding: 15px 15px;
    border: 1px solid #cacaca;
    font-size: 14px;
}

.users-list .list-table {
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .users-list .list-table-format {
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }

    .users-list .list-table-format.title {
        display: none;
    }
}