.dashboard-container {
    width: 70%;
    max-width: 1200px;
    margin-left: max(5vw, 25px);
    margin: 61px;
    padding: 0 20px;
    color: #6d6d6d;
    font-size: 16px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    color: #6d6d6d;
    font-size: 16px;
}

.dashboard-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.dashboard-card,
.dashboard-chart {
    flex: 1;
    background-color: #fff0ed;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .dashboard-row {
        flex-wrap: wrap;
    }

    .dashboard-card,
    .dashboard-chart {
        flex: 1 1 calc(50% - 10px);
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px) {

    .dashboard-card,
    .dashboard-chart {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}

.dashboard-card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}

.dashboard-card p.value {
    font-size: 2rem;
    font-weight: bold;
    color: tomato;
}

.dashboard-chart h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333;
}