.orders-container {
  margin-top: 100px;
}

.orders-container .orders-separator {
  margin-top: 10px;
  border: none;
  height: 1px;
  background-color: #e2e2e2;
  margin-bottom: 25px;
}

.orders-container h2 {
  text-align: left;
  color: #333;
  margin-bottom: 20px;
  margin-top: 14px;
}

.orders-container .table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
}

.orders-container .scrollable-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.orders-container .scrollable-table th,
.orders-container .scrollable-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: gray;
  padding-left: 0px;
}

.orders-container .scrollable-table th {
  background-color: inherit;
  color: gray;
  font-size: max(1vw, 12px) !important;
  font-weight: 500;
}

.orders-container .scrollable-table td:hover {
  cursor: pointer;
}

.orders-container .scrollable-table td {
  font-size: 16px;
}

.orders-container .table-wrapper {
  overflow-x: auto;
}

.orders-container .scrollable-table {
  min-width: 600px;
}

.orders-container .status {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  /* border-radius: 2px; */
  font-size: 11px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.orders-container .status.pending {
  background-color: #323883;
  font-weight: 500;
}

.orders-container .status.paid {
  background-color: #b1c461;
  font-weight: 500;
}

.orders-container .status.shipped {
  background-color: #4CAF50;
  font-weight: 500;
}

.orders-container .status.processing {
  background-color: #ff9800;
  font-weight: 500;
}

.orders-container .status.delivered {
  background-color: #2196F3;
  font-weight: 500;
}

.orders-container .status.canceled {
  background-color: #f44336;
  font-weight: 500;
}

@media (max-width: 768px) {

  .orders-container .scrollable-table th,
  .orders-container .scrollable-table td {
    padding: 10px;
  }

  .orders-container .scrollable-table td {
    font-size: 14px;
  }
}